@font-face {
  font-family: "BLMelody-Bold";
  src: url("/fonts/BLMelody-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody-Semibold";
  src: url("/fonts/BLMelody-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BLMelody-Medium";
  src: url("/fonts/BLMelody-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
